# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python files
*.pyc
*.pyo

#Others
*.dtd
*.so.*
PacIFiC-*.env.sh
GRAINS/Env/grains-*.env.sh
Cartesian/FLUID/Env/fluid-*.env.sh
Cartesian/MacWorld/Env/macworld-*.env.sh
.tags*

# Folders
Cartesian/MacWorld/hypre-2.10.1/*
Cartesian/MacWorld/petsc-3.2.0-p7/*
Cartesian/FLUID/lib
Cartesian/MacWorld/MAC/lib
Cartesian/MacWorld/MAC/etc
GRAINS/Main/bin64*
GRAINS/diffGrains*
GRAINS/Archives*
GRAINS/DoxyGRAINS*
GRAINS/README
GRAINS/XERCES*
Octree/basilisk/*
